{% for content in data %}
  <h2> {{ content.job.title }} </h2>
  <table>
    <tr>
      <th>Profile picture</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Resume</th>
    </tr>
    {% for candidate in content.candidates %}
      <tr>
        <td> <img src="{{ candidate.picture }}" width="60"> </td>
        <td>{{ candidate['first-name'] }}</td>
        <td>{{ candidate['last-name'] }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.phone }}</td>
        <td> 
          {% if candidate.resume %}
            <a href="{{ candidate.resume }}" target="_blank">Open resume</a>
          {% else %}
            No resume attached
          {% endif %}
        </td>

      </tr>
    {% endfor %}
  </table>
{% endfor %}
